@using BlogYou.Models
@using BlogYou.Services
@using BlogYou.Enums
@using Microsoft.AspNetCore.Identity 
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

@inject IImageService _imageService
@inject UserManager<BlogUser> _userManager
@model IPagedList<Blog>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var blog in Model)
     {
        <div class="col-sm-12 col-md-6 col-lg-4 mt-2 py-2">
            <div class="card border-dark px-3 py-3">
                <div class="d-flex justify-content-center">
                    <img class="card-img-top mt-2" src="@_imageService.DecodeImage(blog.ImageData, blog.ContentType)" />
                </div>
                <div class="card-body text-center">
                    <div class="card-title-bg">
                        <hr class="card-hr bg-dark" />
                        <h5 class="card-title"><a  asp-action="BlogPostIndex" asp-controller="Posts" asp-route-id="@blog.Id">
                            @blog.Name
                            </a></h5>
                        <hr class="card-hr bg-dark" />
                    </div>

                    <div>
                        <p class="card-text cftooltip"
                           data-bs-toggle="tooltip"
                           data-placement="top"
                           title=""
                           data-original-title="@blog.Description">@blog.Description</p>
                    </div>

                    <br />
                    <div class="text-center">
                        <a class="btn btn-dark btn-sm note-btn-block mb-2" asp-action="BlogPostIndex" asp-controller="Posts" asp-route-id="@blog.Id">
                            Read More
                        </a>
                    </div>

                    @if (User.IsInRole(BlogRole.Administrator.ToString()))
                     {
                        <div class="text-center">
                            <a class="btn btn-dark btn-sm note-btn-block mb-2" asp-action="Create" asp-controller="Posts" asp-route-id="@blog.Id">
                                Create
                            </a>
                        </div>
                     }

                    @if (User.IsInRole(BlogRole.Administrator.ToString()))
                     {
                        <div class="text-center">
                            <a class="btn btn-danger btn-sm note-btn-block" asp-action="Edit" asp-controller="Blogs" asp-route-id="@blog.Id">
                                Edit
                            </a>
                        </div>
                     }
                </div>
            </div>
        </div>
     }
</div>

<!-- Add paging Controls here  -->
<div class="row mt-3">
    <div class="col h3">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </div>
</div>

<div class="row">
    <div class="col">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
         new PagedListRenderOptionsBase
         {
             LiElementClasses = new string[] { "page-item" },
             PageClasses = new string[] { "page-link " }
         })
    </div>
</div>

@section Scripts {

    <script>
        var swalMsg = '@TempData["SweetAlert"]'
        if (swalMsg != "") {
            Swal.fire({
                icon: 'success',
                title: swalMsg,
                timer: 2500

            })
        }

        $(document).ready(function () {
            $("p").tooltip();
        });

    </script>
}