@using BlogYou.Services
@using BlogYou.Models
@using BlogYou.Enums
@using Microsoft.AspNetCore.Identity
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

@inject IImageService _imageService
@inject UserManager<BlogUser> _userManager

@model IPagedList<Post>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Posts</h1>
@if (User.IsInRole(BlogRole.Administrator.ToString()))
 {
    <div class="row">
        <div class="col d-flex justify-content-center">
            <a type="button" class="btn btn-sm new-post" asp-action="Create">Create New Post</a>
        </div>
    </div>
 }

<div class="row mt-2">
    @foreach (var post in Model)
    {
        <div class="col-sm-12 col-md-6 col-lg-4 mt-2 py-2">
            <div class="card border-darkpx-3 py-3">
                <div class="d-flex justify-content-center">
                    <img class="card-img-top" src="@_imageService.DecodeImage(post.ImageData, post.ContentType)" />
                </div>
                <div class="card-body text-center">
                    <div class="card-title-bg">
                        <hr class="card-hr bg-dark" />
                        <h5 class="card-title">
                            <a  asp-action="Details" asp-route-slug="@post.Slug">
                                @post.Title
                            </a>
                        </h5>
                        <hr class="card-hr bg-dark" />
                    </div>

                    <div>
                        <p class="card-text cftooltip"
                           data-bs-toggle="tooltip"
                           data-placement="top"
                           title=""
                           data-original-title="@post.Abstract">@post.Abstract</p>
                    </div>

                    <br />
                    <div class="text-center">
                        <a class="btn btn-dark btn-sm note-btn-block mb-2" asp-action="Details" asp-route-slug="@post.Slug">
                            Read More
                        </a>
                    </div>

                    @if (User.IsInRole(BlogRole.Administrator.ToString()))
                    {
                        <div class="text-center">
                            <a class="btn btn-dark btn-sm note-btn-block mb-2" asp-action="Edit" asp-route-id="@post.Id">
                                Edit
                            </a>
                        </div>
                    }

                    @if (User.IsInRole(BlogRole.Administrator.ToString()))
                    {
                        <div class="text-center">
                            <a class="btn btn-danger btn-sm note-btn-block" asp-action="Delete" asp-route-id="@post.Id">
                                Delete
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>


@*<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            <th>
                Abstract
            </th>
            <th>
                Created
            </th>
            <th>
                ReadyStatus
            </th>
            <th>
                Image
            </th>
            <th>
                Updated
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Abstract)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReadyStatus)
                </td>
                <td>
                    <img src="@imageService.DecodeImage(item.ImageData, item.ContentType)" height="200" />

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Updated)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-slug="@item.Slug">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@

<hr />
<div class="row mt-2">
    <div class="col h-3">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </div>
</div>

<div class="row">
    <div class="col">
        @Html.PagedListPager(Model, page => Url.Action("BlogPostIndex", new { id = Model.FirstOrDefault().BlogId, page = page }),
            new PagedListRenderOptionsBase
            {
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" }
            })
    </div>
</div>
